.aurrebista {
  text-align:center;
}

.botoibloke {
display:inline-block
}

.botoibloke input{
max-height: 150px;
max-width: 150px;
}

.botoibloke a.hover {
background-color:black
}

#behekobarra {
display: flex;
justify-content: space-between;
margin-left:150px;
margin-right:150px;
text-align:center;
}


table.osoa{
	position:absolute;
	width: 100%;
	height:100%;
}

img:hover{
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.izena{
	opacity:0;
}
td.bandera:hover{
	opacity:0.6;
    background-color:red;
}


td.banderaAukeratua {
    background-color:red;
}

td {
padding-left:50px;
padding-right:50px;
}
#abisua, #qr{
	background: gray;
	margin-top: 384px;
	margin-left: 512px;
	width: 128px;
	height: 128px;
	display: none;
	z-index:4;
	position:fixed
}
a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:active { color: #000000; text-decoration: none}
